.indicators {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Courier New, Courier, monospace;
  font-weight: bold;
  font-size: 20px;
  color: white;
  padding: 4px;
}

.smiley-face {
  font-size: 30px;
  cursor: pointer;
}
